body {
    font-family: Georgia;
    margin: 0;
    padding: 0;
    background-color: #f0dff0;
    font-size: large;
}

header {
    background-color: #741313;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}