body {
    font-family: Georgia;
    margin: 0;
    padding: 0;
    background-image: url('Assets/backgroundd.png');
    background-size: cover;
    font-size: large;
}
.pict {
    display: flex;
    justify-content: center;
}
div.container {
    margin-left: 12%;
    width:80%;
}
div.container div {
    padding: 1%;
    margin: 20px;
    width:27%;  
    float:left;
}

header {
    background-color: transparent;
    color: #fff;
    margin-left: 5%;
}

nav {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    margin-right: 5%;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}