body {
    font-family: Georgia;
    margin: 0;
    padding: 0;
    background-color: #f0dfdf;
    font-size:medium;
}
.pict {
    display: flex;
    justify-content: center;
}
div.container {
    margin-left: 23%;
    width:70%;
}
div.container div {
    padding: 1%;
    margin: 20px;
    width:27%;  
    float:left;
    box-shadow: 3px 3px 5px 0px;
}
header {
    background-color: #741313;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}