body {
    background-image: url('bgGhostJump.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 800px;
    justify-content: center;
    align-items: center;
}

#board {
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
    width: 100;
    height: 500;
    margin-left: 420px;
}
header {
    background-color: transparent;
    font-size: 20pt;
    color: #fff;
    display: relative;
    text-align: center;
}
footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 7px;
    position: relative;
    bottom: 0;
}
.end-game {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    display: none;
}

.end-game-score {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

button {
    font-family: 'Times New Roman';
    background-color: #3b3988;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.25 ease;
}

button:hover {
    background-color: #333;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}